<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- welcome the player to the game and start polling for cards -->
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Game</title>
        <script th:inline="javascript">
        /*<![CDATA[*/
        var id = /*[[${id}]]*/ 'default';
        var sub = new /*[[${sub}]]*/ 'default';
        /*]]>*/
        </script>
        <script src="game.js"></script>
    </head>
    <body>
        <h1>Game</h1>
        <p th:text="${ 'Code: ' + id}"></p>
        <div id="started">Game Not Started</div>
        <h4>Your Cards:</h4>
        <div id="cards"></div>
        <h4>The Table:</h4>
        <div id="table"></div>
        <h4>Turn:</h4>
        <div id="turn"></div>
    </body>

</html>