<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- welcome the player to the game and start polling for cards -->
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Game</title>
        <script th:inline="javascript">
        /*<![CDATA[*/
        var id = /*[[${id}]]*/ 'default';
        var source = new EventSource("/personalcards?id=" + id);
        source.onmessage = function(event) {
            if (event.data != "") {
                var data = JSON.parse(event.data);
                console.log(data);
                var cards = data.cards;
                for (var i = 0; i < cards.length; i++) {
                    var div = document.createElement("div");
                    div.innerHTML = cards[i];
                    document.body.appendChild(div);
                }

                source.close();
            }
            else {
                console.log("No cards yet");
            }
        };
        /*]]>*/
        </script>
    </head>
    <body>
        <h1>Game</h1>
        <p th:text="${ 'Code :' + id}"></p>
        <!-- <form action="/cards" method="post">
        <input type="hidden" name="id" th:value="${id}"/>
        <input type="hidden" name="dealer" th:value="${dealer}"/>
        <input type="hidden" name="player" th:value="${player}"/>
        <input type="submit" value="Draw Card"/>
        </form> -->
    </body>

</html>