<!DOCTYPE html>
<html>
<head>
    <title>SSE Example</title>
</head>
<body>

<div id="output"></div>

<script>
    // write code to hit '/cards' endpoint and display the response in the div with id 'output
    var eventSource = new EventSource("/cards");
    eventSource.onmessage = function(event) {
        console.log(event.data);
        console.log(event);
        console.log("YAYA");
        document.getElementById("output").innerHTML += event.data + "<br>";
    };
</script>

</body>
</html>