<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- welcome the player to the game and start polling for cards -->
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Start</title>

    </head>
    <body>
        <h1>Started</h1>
        <p th:text="${ 'Code: ' + id}"></p>
        <!-- <form action="/cards" method="post">
        <input type="hidden" name="id" th:value="${id}"/>
        <input type="hidden" name="dealer" th:value="${dealer}"/>
        <input type="hidden" name="player" th:value="${player}"/>
        <input type="submit" value="Draw Card"/>
        </form> -->
    </body>

</html>